anim/*
meshes/*
results/*
build/CMakeFiles/*
.vscode/*
.idea/*
sims/*
build/plate_load
build/plate_load_cuda
build/plate_load
build/*.txt
build/cmake_install.cmake
Readme.html
Readme.pdf
debug/*
fatcalc_v1/*
build/CMakeCache.txt
build/cmake_install.cmake
plateMesh_7_5000.vtk
build/.cmake/*
util/__pycache__/*
build/plate_load
build/plate_load_mpi
util/fadeRelease_v2.07/*
vtk/*
vtk2/*
pictures/*
plate_loading.cpp
make_old.sh
CMakeLists.txt
build/Makefile
build/mfile
doc/*
plate_loading_old_cuda.cpp
*.pdf
